.caseSuspectsSummaryPage {
  max-width: 66%;

  .suspectRowWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b1b4b6;
    & .suspectName {
      font-weight: bold;
      font-size: 1.25rem;
    }
  }
  .suspectDetailsWrapper {
    dd {
      margin-left: 0;
    }
  }
  & :global(.govuk-details) {
    margin-top: 0.5rem;
  }
}
